.error {
    color: red;
    font-weight: bold;
}

#exams-table th {
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}

#exams-table tbody {
    background-color: #f1f1f1;
}

button,input[type=submit] {
    padding: 0 5px 0 5px;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #4682b4;
}

#exams-table, #result-table {
    border-collapse: collapse;
}

#result-table th {
    font-weight: bold;
    color: #ffffff;
    background-color: #1e90ff;
}