* {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
}

#likeButton {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #445da7;
    background-color: #fbfbfb;
    border: none;
    outline: none;
}